<footer class="container-fluid">
  <span class="glyphicon glyphicon-envelope"></span>
  <span class="icon icon-github"></span>
  <span class="icon icon-linkedin"></span>
  <p>Thomas Weng &copy; <% var d = new Date(); %><%= d.getFullYear(); %></p>
</footer>
