<footer class="container-fluid">
  <p>Thomas Weng &copy; <% var d = new Date(); %><%= d.getFullYear(); %><a href="/secret"><span id="x" class="glyphicon glyphicon-sunglasses"></span></a></p>

</footer>
