<div id="header" class="container-fluid">
  <div id="header-text">
    <h1>Hello, I'm <span id="name">Thomas</span>.</h1>
    <h2 class="lead">I'm a software engineer.</h2>
  </div>
</div>

<div id="about" class="section">
  <img id="profile-pic" src="../img/thomas.jpg" class="img-circle"></img>
  <h2>A LITTLE ABOUT ME</h2>
  <hr>
  <p>
    Hi there, I'm Thomas. I recently graduated from Yale University, where I met
    a bunch of awesome people, sang a cappella, and learned about ones and zeros.
    I'm currently based in Seattle, originally from NYC.
  </p>
</div>

<div id="divider1" class="divider">
  <div class="divider-text">
    <h1><span class="glyphicon glyphicon-education"></span></h1>
    <h1>Class of 2015</h1>
    <p class="lead">B.S. Computer Science, B.A. Economics </p>
  </div>
</div>

<div id="work" class="section">
  <h2>WORK EXPERIENCE</h2>
  <hr>
  <h3><img src="img/yale.png"></img> Yale University</h3>
  <h4><i>Student Developer '14 - '15</i></h4>
  <p>Worked on Shifts, a Rails app that manages Yale student employees.</p>
  <h3><img src="img/microsoft.png"></img> Microsoft</h3>
  <h4><i>Program Manager Intern '13</i> | <i>Software Developer Engineer Intern '14</i></h4>
  <p>Interned with Bing Ads and Bing.</p>
  <h3>JPMorgan Chase <img src="img/chase.jpg"></img></h3>
  <h4><i>Credit Risk Management Intern '12</i></h4>
  <p>Wrote VBA scripts and learned a bunch of Excel.</p>
  <div id="resume">
    <p>Download a copy of my resume <a href="resume.pdf">here</a>.</p>
  </div>
</div>

<hr id="hr">

<div id="research" class="section">
  <h2>RESEARCH</h2>
  <hr>
  <h3>Yale Social Robotics Lab</h3>
  <p>My senior project on computer perception of human nonverbal behavior won the Yale Computer Science Research Prize. Check out the demo below.</p>
  <iframe id="research-video" src="https://www.youtube.com/embed/v9yymuaYLtw" frameborder="0" allowfullscreen></iframe>
  <p>Read the writeup <a href="490writeup.pdf">here</a>.</p>
</div>

<div id="divider2" class="divider">
  <div class="divider-text">
    <h1><span class="glyphicon glyphicon-briefcase"></span></h1>
    <h1>Currently Working at Microsoft</h1>
    <p class="lead">Software Engineer on Bing</p>
  </div>
</div>

<div id="contact" class="section">
  <h1>THANKS FOR VISITING<h1>
  <hr>
  <h2>Contact Info</h2>
  <ul id="contact-info">
    <li><span class="glyphicon glyphicon-envelope"></span>thomas.weng11 at gmail.com</li>
    <li><span class="icon icon-github"></span><a href="https://github.com/thomasweng15">thomasweng15</a></li>
    <li><span class="icon icon-linkedin"></span><a href="https://www.linkedin.com/in/thomasweng">thomasweng</a></li>
  </ul>
</div>
