
<div id="header" class="container-fluid">
  <div id="header-text">
    <h1>Hello, I'm <span id="name">Thomas</span>.</h1>
    <h2 class="lead">I'm a programmer</h2>
  </div>
</div>

<div id="about" class="section">
  <img id="profile-pic" src="../img/thomas.jpg"></img>
  <h2>About Me</h2>
  <hr>
  <p>
    Hi there, I'm Thomas. I'm a recent graduate of Yale University, where I
    double-majored in Computer Science and Economics. I am interested in
    solving problems using technology and have a passion for learning.
  </p>
</div>

<div id="divider1" class="divider">
  <div class="divider-text">
    <h1><span class="glyphicon glyphicon-education"></span></h1>
    <h1>Yale Class of 2015</h1>
  </div>
</div>

<div id="work" class="section">
  <h2>Work Experience</h2>
  <hr>
  <h3><img src="img/yale.png"></img> Yale University</h3>
  <h4>Student Developer '14 - '15</h4>
  <p>Worked on the Shifts team.</p>
  <h3><img src="img/microsoft.png"></img> Microsoft</h3>
  <h4>Software Developer Engineer Intern '14 | Program Manager Intern '13</h4>
  <p>Worked for Bing Ads and Bing.</p>
  <h3>JPMorgan Chase <img src="img/chase.jpg"></img></h3>
  <h4>Credit Risk Management Intern '12</h4>
  <p>Wrote VBA scripts</p>
</div>

<hr id="hr">

<div id="research" class="section">
  <h2>Research</h2>
  <hr>
  <h3>Yale Social Robotics Lab</h3>
  <p>Senior project on nonverbal human behavior. Watch video below.</p>
  <video id="research-demo" src="http://youtu.be/v9yymuaYLtw" controls=""></video>

  <!-- <h3>skills</h3> -->
</div>

<div id="divider2" class="divider">
  <div class="divider-text">
    <h1><span class="glyphicon glyphicon-briefcase"></span></h1>
    <h1>Working at Microsoft this fall</h1>
  </div>
</div>

<div id="blog" class="section">
  <h2>Blog</h2>
  <hr>
  <p>List blog articles</p>
</div>

<div id="divider3" class="divider">
  <div class="divider-text">
    <h1>Thanks for Visiting<h1>
  </div>
</div>
