<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thomas Weng's Personal Website">
    <meta name="author" content="Thomas Weng">
    <title>Thomas Weng</title>
    <link rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic'>
    <link rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,700'>
    <link rel="stylesheet" href="fonts/icomoon/icomoon.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <%- partial('navbar') %>
    <%- body %>
    <%- partial('footer') %>
  </body>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='js/bootstrap.js'></script>
  <script src='js/smooth-scroll.js'></script>
  <script src='js/animations.js'></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50853593-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
