<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thomas Weng</title>
    <link rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic'>
    <link rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,700'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/icomoon/icomoon.css">
  </head>
  <body>
    <%- partial('navbar') %>
    <%- body %>
    <%- partial('footer') %>
  </body>
</html>
