<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="#header" class="navbar-brand">Thomas Weng</a>
    <ul class="nav navbar-nav">
      <li><a href="#about">About</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#research">Research</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
