html,body{ margin:0; padding:0; height:100%; width:100%; }

#header {
  background: url('../img/mountains.jpg') center top no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header-text {
  position: relative;
  top: 40%;
}

#profile-pic {
  height: 18%;
  width: 32%;
  display: block;
  margin: auto;
}

#about p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#work h4 {
  font-style: italic;
}

#research-demo {
  width: 375px;
}

#hr {
 margin: 0px;
}

.section {
  padding-top: 50px;
  text-align: center;
}

.section hr {
  left: 25%;
  width: 35%;
  height: 1px;
  background: black;
  margin-top: 0;
}

#divider1 {
  background: url('../img/yale2.jpg') center no-repeat;
  background-position: 100% 15%;
  background-size: 100% auto;
}

#divider2 {
  background: url('../img/seattle2.jpg') center no-repeat;
  background-size: 100% auto;
}

#divider3 {
  background: url('../img/seattle1.jpg') center no-repeat;
  background-size: 100% auto;
}

.divider {
  text-align: center;
  color: white;
  min-height: 375px;
}

.divider-text {
  position: relative;
  top: 150px;
}

p {
  font-size: 16px;
}

.navbar {
  background: #2b2b2b;
  margin-bottom: 0px;
  border-bottom: 0px;
}

footer {
  background: #2b2b2b;
  color: grey;
  padding-top: 10px;
  text-align: center;
}

footer span {
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 7px;
}
