html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family: "Raleway";
}

.navbar {
  background: #2b2b2b;
  margin-bottom: 0px;
  border-bottom: 0px;
}

#header {
  background: url('../img/mountains.jpg') center top no-repeat;
  background-size: 100% auto;
  max-height: 720px;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  font-family: "Lato";
}

#header-text {
  position: relative;
  top: 40%;
}

#header-text h1 {
  font-size: 72px;
}

#name {
  color: #40a3ff;
}

#down-arrow {
  height: 34px;
  width: 34px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left:-15px;
}

#profile-pic {
  height: 18%;
  width: 32%;
  display: block;
  margin: auto;
}

#about p {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#work h4 {
  font-style: italic;
}

#resume {
  text-align: center;
}

#research {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#research-video {
  margin-top: 5px;
  margin-bottom: 10px;
}

#contact-info {
  text-align: left;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#contact-info span {
  font-size: 24px;
  margin-right: 10px;
}

#skills {
  text-align: center;
  background-color: lightgrey;
  min-height: 100px;
  overflow: hidden;
  padding-top: 15px;
  position: relative;
}

#skills-arrow {
  height: 34px;
  width: 34px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left:-15px;
}

#hr {
 margin: 0px;
}

.section {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.section hr {
  left: 25%;
  width: 35%;
  height: 1px;
  background: black;
  margin-top: 0;
}

#divider1 {
  background: url('../img/yale2.jpg') top no-repeat;
  background-position: 100% 33%;
  background-size: 100% auto;
}

#divider2 {
  background: url('../img/seattle.jpg') center no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

.divider {
  text-align: center;
  color: white;
  height: 375px;
}

.divider-text {
  font-family: "Lato";
  position: relative;
  top: 125px;
}

.divider-text h1 {
  font-size: 52px;
}

.divider-text span {
  font-size: 72px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

p {
  font-size: 16px;
}

footer {
  background: #2b2b2b;
  color: grey;
  padding-top: 10px;
  text-align: center;
}
